@import url('https://fonts.googleapis.com/css?family=Brawler');


.textblue{
    color: #56baed;
    font-family: Brawler, serif;
}

.textMod{
    font-family: Brawler, serif;
}
.btn-circle.btn-xl { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center;
} 