<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div *ngIf='!authOrder && !showSummary'>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
      <h1>REASY</h1>
    </div>

    <!-- Login Form -->
    <h2 class="textblue">{{nameResturant}}</h2>

    <div *ngIf="!showQr">
        <h3>Menù</h3>
    </div>
    <div *ngIf="showQr">
        <h3>QR code personale</h3>
    </div>
   
    <div *ngIf="!showQr" >
    <form>
        <div *ngFor='let item of itemList$' class="textMod">
             {{item.name}} - {{item.price}} 
          </div> 
    </form>
    </div>
    <div *ngIf="showQr">
      <div>
        <h3>{{myQr}}</h3>
      </div>
      <div>
        <qrcode [level]="1" [qrvalue]="myQr"></qrcode>
      </div>
      <div>
        <input type="submit" class="fadeIn fourth" value="Ordina" (click)="checkAuthorization()">
      </div>
    </div>
    <div *ngIf='errorAuth' class="alert alert-warning" role="alert">
      Richiedi al ristoratore di autorizzarti
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div *ngIf="!showQr">
        <input type="submit" class="fadeIn fourth" value="Richiedi Autorizzazione" (click)="autorizzazione()">
      </div>
      <a class="underlineHover" onClick="javascript:history.back()">indietro</a>
    </div>

  </div>
</div>
</div>

<!---------------------------------->
<!-----------ordinazione------------>
<!---------------------------------->
<div *ngIf="authOrder && !showSummary">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
      <h1>REASY</h1>
    </div>

    <!-- Login Form -->
    <h2 class="textblue">{{nameResturant}}</h2>

    
    <h3>Menù</h3>
    <div *ngIf='errorSendMessage' class="alert alert-warning" role="alert">
      Errore durante l'invio dell'ordine
    </div>
    
    <form>
        <div>
          <table class="table" style="text-align:center;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Prezzo</th>
                <th scope="col" ></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of itemList$; let i = index'>
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td style="text-align:right;"><button type="button" class="btn btn-success btn-circle btn-xl" (click)="add(item,i)">+</button> {{quantity[i]}} <button type="button" class="btn btn-danger btn-circle btn-xl" (click)="remove(item,i)">-</button></td>
              </tr>
           </tbody>
          </table>      
        </div> 
    </form>
    
  

   
    <div id="formFooter">
      <div>
        <input type="submit" class="fadeIn fourth" value="Invia Ordine" (click)="sendOrder()">
      </div>
      <a class="underlineHover" onClick="javascript:history.back()">indietro</a>
    </div>

  </div>
</div>
</div>

<!---------------------------------->
<!-----------storico---------------->
<!---------------------------------->
<div *ngIf="showSummary">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
      </div>
  
      <!-- Login Form -->
      <h2 class="textblue">{{nameResturant}}</h2>
  
      
      <h3>Riepilogo</h3>
    
      <form>
          <div  >
          
            <table class="table" style="text-align:center;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Quantità</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let item of itemList$; let i = index;'>
                  <th *ngIf="quantity[i]>0" scope="row">{{i+1}}</th>
                  <td *ngIf="quantity[i]>0">{{item.name}}</td>
                  <td *ngIf="quantity[i]>0">{{quantity[i]}}</td>
                </tr> 
              </tbody>
            </table>
          </div>
      </form>
      
      <div *ngIf='addViewMessage' class="alert alert-success" role="alert">
        Ordine inviato
      </div>
    
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
        <a class="underlineHover" onClick="javascript:history.back()">effettua un nuovo ordine</a>
      </div>
  
    </div>
  </div>
  </div>