<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
      <h1>REASY</h1>
    </div>

    <!-- Login Form -->
    <h2 class="textblue">{{nameResturant}}</h2>

    <div *ngIf="!showQr">
        <h3>Menù</h3>
    </div>
    <div *ngIf="showQr">
        <h3>QR code personale</h3>
    </div>
   
    <div *ngIf="!imAuthorized && !showQr" >
    <form>
        <div *ngFor='let menu of menulist$' class="textMod">
             {{menu.name}} - {{menu.price}} 
          </div> 
    </form>
    </div>
    <div *ngIf="imAuthorized" >
        <form>
            <div *ngFor='let menu of menulist$' class="textMod">
                 {{menu.name}} - {{menu.price}} ordinami!
              </div> 
        </form>
    </div>
    <div *ngIf="showQr">
        <qrcode [level]="1" [qrvalue]="myQr"></qrcode>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div *ngIf="!showQr">
        <input type="submit" class="fadeIn fourth" value="Richiedi Autorizzazione" (click)="autorizzazione()">
      </div>
      <a class="underlineHover" onClick="javascript:history.back()">indietro</a>
    </div>

  </div>
</div>
