<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!---------------------------->
<!--------prima view---------->
<!---------------------------->
<div *ngIf="!editMenuView && !editResturantView && !authUserView">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
      <h1>REASY</h1>
    </div>
    <!-- Login Form -->
    
    <form>
      <input type="submit" class="fadeIn fourth" value="Gestisci il tuo ristorante" (click)="editResturant()">
      <input type="submit" class="fadeIn fourth" value="Gestisci il tuo menù" (click)="editMenu()">
      <input type="submit" class="fadeIn fourth" value="Autorizza con QRcode" (click)="autorizzaQr()">
      <input type="submit" class="fadeIn fourth" value="Monitora gli ingressi" (click)="storicoIngressi()">
      <input type="submit" class="fadeIn fourth" value="Ordini" (click)="Ordini()">
    </form>
   
    <!-- Remind Passowrd -->
    <div id="formFooter">
        <a class="underlineHover" onClick="javascript:history.back()">indietro</a>
    </div>

  </div>
</div>
</div>

<!---------------------------->
<!--modifica il proprio menù-->
<!---------------------------->


<div *ngIf="editMenuView">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
      <h1>REASY</h1>
    </div>

    <!-- Login Form --> 
       <h3>Menù</h3>    
       <div *ngIf='deleteViewMessage' class="alert alert-success" role="alert">
        Eliminato correttamente
      </div>
      <div *ngIf='errorDeleteViewMessage' class="alert alert-warning" role="alert">
        Errore durante l'eliminazione
      </div>
      <div *ngIf='addViewMessage' class="alert alert-success" role="alert">
        Piatto aggiunto
      </div>
      <div *ngIf='errorAddViewMessage' class="alert alert-warning" role="alert">
        Errore durante aggiunta del piatto
      </div>


      <div *ngIf='!insertView'>
       <form>
        <div>
          <table class="table" style="text-align:center;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Prezzo</th>
                <th scope="col" ></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let menu of menulist$; let i = index'>
                <th scope="row">{{i+1}}</th>
                <td>{{menu.name}}</td>
                <td>{{menu.price}}</td>
                <td><button type="button" class="btn btn-danger btn-circle" (click)="deleteItem(menu.id)">Elimina</button></td>
              </tr>
           </tbody>
          </table>      
        </div> 
    </form>
   </div>
   <div *ngIf='insertView'>
    <form>
      <input type="text" id="nameItem" class="fadeIn second" name="nameItem" placeholder="Nome del piatto" (keyup)="nameItemOnKey($event)" >
      <input type="text" id="price" class="fadeIn third" name="price" placeholder="Prezzo" (keyup)="priceItemOnKey($event)">
      <input type="submit" class="fadeIn fourth" value="Conferma" (click)="addItemButton()">
    </form>
   </div> 
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div>
        <input type="submit" class="fadeIn fourth" value="Aggiungi piatto" (click)="addItemView()">
      </div>
      <div>
        <a class="underlineHover" onClick="javascript:history.back()">indietro</a>
      </div>
    </div>

  </div>
</div>
</div>

<!------------------------------>
<!--modifica il tuo ristorante-->
<!------------------------------>


<div *ngIf="editResturantView">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
      </div>
  
      <!-- Login Form --> 
         <h3>Il tuo ristorante</h3>    
      <form>
        <input type="text" id="Nome" class="fadeIn second" name="Nome" placeholder="Nome del ristorante" (keyup)="nameResturantOnKey($event)" >
        <input type="text" id="Citta" class="fadeIn third" name="Citta" placeholder="Città" (keyup)="cityResturantOnKey($event)">
        <input type="submit" class="fadeIn fourth" value="Conferma" (click)="editResturantButton()">
      </form>
      
      
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" onClick="javascript:history.back()">indietro</a>
      </div>
  
    </div>
  </div>
  </div>

<!------------------------------>
<!--mautorizza cliente---------->
<!------------------------------>


<div *ngIf="authUserView">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
      </div>
  
      <!-- Login Form --> 
         <h3>Il tuo ristorante</h3>    
      <form>
        <input type="text" id="Auth" class="fadeIn second" name="Auth" placeholder="Codice qr del cliente" (keyup)="qrClienteOnKey($event)" >
        <input type="text" id="Note" class="fadeIn second" name="Note" placeholder="Note" (keyup)="noteOnKey($event)" >
        <input type="text" id="Day" class="fadeIn second" name="Day" placeholder="giorni" (keyup)="dayOnKey($event)" >
        <input type="submit" class="fadeIn fourth" value="Autorizza" (click)="authUserButton()">
      </form>
      
      
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" onClick="javascript:history.back()">indietro</a>
      </div>
  
    </div>
  </div>
  </div>

