<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



  <div *ngIf='resturantView' class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
        <h2>Elenco ristoranti</h2>
      </div>
  
      <!-- Login Form -->
      <form>
        <div *ngFor='let resturant of resturantList$'>
          <a class="nav-link" routerLink="/menu/{{resturant.qrcode}}" routerLinkActive="active" > {{resturant.name}} </a>
        </div>
      </form>

      <div *ngIf='errorEmpty' class="alert alert-warning" role="alert">
        l'Username o la Password sono vuoti
      </div>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
        <input type="text" id="codRes" cclass="underlineHover" name="codRes" placeholder="Inserisci il codice del ristorante" (keyup)="codeResturantOnKey($event)">
        <input type="submit" class="underlineHover" value="Cerca" (click)="cerca()">
      </div>
  
    </div>
  </div>

