<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!---------------------------->
<!--------prima view---------->
<!---------------------------->
<div *ngIf="!manageOrderView && !authView && !resturantListView" class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
        <h3 class="textblue">{{nameUser}}</h3>
      </div>
  
      <!-- Login Form -->
      <form>
        <div>
          <table class="table" style="text-align:center;">
            <tr>
              <td>
                  <div *ngIf="!noRes"><button type="button" class="btn btn-success btn-lg btn-block" (click)="resturantList()">Gestisci ordini</button> </div>
                  <div *ngIf="noRes"><button type="button" class="btn btn-light btn-lg btn-block" >Gestisci ordini - Non hai ristoranti associati o non ci sono ordini</button> </div>
              </td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-dark btn-lg btn-block" (click)="authorization()">Ottieni l'autorizzazione</button></td>
            </tr>
          </table>
        </div>
      </form>

      <!-- Remind Passowrd -->
    <div id="formFooter">
        <a class="underlineHover" onClick="javascript:history.back()">Esci</a>
    </div>
  
    </div>
  </div>

<!---------------------------->
<!--------auth view ---------->
<!---------------------------->
<div *ngIf="authView" class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
        
      </div>
  
      <!-- Login Form -->
      <form>
              <h3>Codice qr personale: {{myQr}}</h3>
              <qrcode [level]="1" [qrvalue]="myQr"></qrcode>
      </form>

      <!-- Remind Passowrd -->
    <div id="formFooter">
      <button type="button" class="btn btn-light" (click)="goBack()">Indietro</button>
    </div>
  
    </div>
  </div>

<!---------------------------->
<!--------manage order-------->
<!---------------------------->
<div *ngIf="manageOrderView" class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
        <h3 class="textblue">{{resturantName}}</h3>
      </div>

      
      <div *ngIf='errorModItemMessage' class="alert alert-warning" role="alert">
        Errore durante modifica status
      </div>
      
      <!-- Login Form -->
      <form>
        <div>
          <table class="table" style="text-align:center;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DATA</th>
                <th scope="col">TAVOLO</th>
                <th scope="col"></th>
                <th scope="col">STATO</th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor='let element of orderUserList$; let i = index;'>
                <th scope="row">{{i+1}}</th>
                <td>{{element.createdAt}}</td>
                <td>{{element.note}}</td>
                <td style="text-align:right;">
                  <button *ngIf='!detailView[i]' type="button" class="btn btn-dark"
                  (click)="showDetail(i)">Dettaglio</button>
                  <button type="button" *ngIf='detailView[i]'
                  class="btn btn-secondary" (click)="hideDetail(i)">Chiudi</button>
                  
                <div *ngIf='detailView[i]'>

                  <table class="table table-bordered">

                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">PIATTO</th>
                      <th scope="col">PREZZO</th>
                      <th scope="col">QUANTITA'</th>
                      <th scope="col">STATO</th>
                    </tr>

                    <tr *ngFor='let it of orderUserList$[i].items; let j = index;'>
                      <th scope="row">{{j+1}}</th>
                      <td>{{it.item.name}}</td>
                      <td>{{it.item.price}}€</td>
                      <td>{{it.quantity}}</td>
                      <td>
                        <button *ngIf='orderUserList$[i].items[j].status == "In carico"' type="button" class="btn btn-outline-info" (click)="modStatusItem(orderUserList$[i].items[j].id.itemid,orderUserList$[i].items[j].id.orderid,orderUserList$[i].items[j].status,i,j)">{{it.status}}</button>
                        <button *ngIf='orderUserList$[i].items[j].status == "In preparazione"' type="button" class="btn btn-outline-warning" (click)="modStatusItem(orderUserList$[i].items[j].id.itemid,orderUserList$[i].items[j].id.orderid,orderUserList$[i].items[j].status,i,j)">{{it.status}}</button>
                        <button *ngIf='orderUserList$[i].items[j].status == "Pronto"' type="button" class="btn btn-outline-success">{{it.status}}</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
                <td>
                  <button *ngIf='closeOrderList[i]===0' type="button" class="btn btn-info "
                  (click)="preparationOrder(i)">In corso</button>
                  <button *ngIf='closeOrderList[i]===1' type="button" class="btn btn-warning"
                  (click)="readyOrder(i)">In preparazione</button>
                  <button type="button" *ngIf='closeOrderList[i]===2'
                  class="btn btn-danger " (click)="closeOrder(i)">Chiudi</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>

      <!-- Remind Passowrd -->
    <div id="formFooter">
      <button type="button" class="btn btn-light" (click)="goBack()">Indietro</button>
    </div>
  
    </div>
  </div>

<!---------------------------->
<!--------resturant list------>
<!---------------------------->

<div *ngIf="resturantListView" class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
        <h1>REASY</h1>
        <h2>Elenco ristoranti</h2>
      </div>
  
      <!-- Login Form -->
      <form>
        <div *ngIf='!noOrd'>
        <div *ngFor='let order of resturantListWA'>
          <button type="button" class="btn btn-link btn-lg btn-block" (click)="openOrder(order.store.id, order.store.name)"> {{order.store.name}} </button>
        </div>
        </div>
        <div *ngIf='noOrd'>
            <h3>Non ci sono ordini...</h3>
        </div>
      </form>
  
        
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <button type="button" class="btn btn-light" (click)="goBack()">Indietro</button>
      </div>
  
    </div>
  </div>
  