<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://logopond.com/logos/6f87585d2d455fd855adb03e3bf2fc43.png" id="icon" alt="User Icon" />
      <h1>REASY</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" (keyup)="usernameOnKey($event)">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" (keyup)="passwordOnKey($event)">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
    </form>

    <div *ngIf='errorEmpty' class="alert alert-warning" role="alert">
      l'Username o la Password sono vuoti
    </div>
    <div *ngIf='errorAccess' class="alert alert-error" role="alert">
        l'Username o la Password sono vuoti
      </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>